* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.botContainer {
  position: absolute;
  width: 400px;
  height: 600px;
  right: 40px;
  bottom: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 80px;
  align-items: center;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: wheat;
}

.backButton {
  padding: 10px;
}

.backButton svg {
  font-size: 24px;
  transition: .2s linear;
}

.backButton:hover {
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
}

.backButton:hover svg {
  opacity: 1;
  transition: .2s linear;
  transform: scale(1.2);
}

.backButton:hover svg path {
  fill: rebeccapurple;
}

.iconContainer {
  padding: 10px;
  background: white;
  border-radius: 50%;
}

.iconContainer svg {
  font-size: 24px;
  transition: .2s linear;
}

.contentDiv {
  height: calc(100% - 160px);
  padding: 10px 20px;
}

.inputContainer {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0px 10px;
}

.inputContainer .userMessageInput {
  width: 100%;
  height: 60px;
  padding: 10px;
  border-radius: 0px;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  border: 0px;
  font-size: 16px;
}

.inputContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.inputContainer button svg {
  font-size: 20px;
  transition: .2s linear;
}

.inputContainer button:hover svg {
  transform: scale(1.2);
}

.inputContainer button:hover path {
  fill: rebeccapurple;
}

.footer {
  height: 10px;
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}